*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo img{
    width: 100px;
}
ul.header-nav-items {
    display: flex;
    margin: 0 20px;
}
li.header-nav-item {
    list-style: none;
    padding: 0 20px;
    font-size: 20px;
}
.res-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
}
.search {
    padding: 15px 0;
}
.search  input.search-box, button.searchBtn {
    padding: 9px;
}
.res-card {
    border: 1px solid;
    height: auto;
}

.filter {
    display: flex;
    gap: 2rem;
    margin: 0 20px;
}
.filter-btn{
    margin: 10px 0;
    padding: 10px 5px;
    cursor: pointer;
}
.shimmer-card{
    margin-top: 50px;
    height: 320px;
    background: #f0f0f0;
}