*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo img{
    width: 100px;
}
ul.header-nav-items {
    display: flex;
    margin: 0 20px;
}
li.header-nav-item {
    list-style: none;
    padding: 0 20px;
    font-size: 20px;
}
.res-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
}
.search {
    padding: 15px 0;
}
.res-card {
    border: 1px solid;
    height: auto;
}
.filter-btn{
    margin: 10px 0;
    padding: 10px 5px;
    cursor: pointer;
}